input {
	position: relative;
	top: 100px;
	margin: 35px 20px 0px 20px;
    width: 50%;
    min-width: 45%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #95989A;
    text-align: center;
}

input[type=text]:focus {
    border-bottom: 1px solid #FF7600;
    outline: none;
}

button {
	position: relative;
	top: 100px;
	margin: 35px 20px 0px 20px;
    width: 23%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #95989A;
    text-align: center;
}
/*
room styles*/

.room {
    margin-top: 30px;
}

.room button {
    position: initial;
}

.active-game button {
    margin-top: 0px;
    border-bottom: 0;
}

button a {
    color: #95989A;
    text-decoration: none;
}

*:focus {
    outline: none;
}